/* Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
}

/* Root Variables */

:root {
  --color-primary: #ff5722;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333;
  --color-white: #fff;
  --color-primary-cards: #ff7a50;
  --color-links: #374754;

  /* Sizes */
  --icon-small: 24px;
  --icon-medium: 42px;
}

/* INITIALS */
html {
  font-size: 62.5%;
}

body,
.btn {
  color: var(--color-body);
  font-size: 1.4rem;
  font-weight: 700;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  padding: 6rem 1.7rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.4rem;
  margin-bottom: 2.3rem;
  line-height: 28px;
}
a:link,
a:visited {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-links);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    line-height: 36px;
  }
}

/* BUTTONS */
.btn {
  outline: 0;
  border: 0;
  padding: 1.5rem 2.2rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: background-color 0.15s;
}

.btn--primary:hover {
  background-color: #fd7146;
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
  transition: background-color 0.15s;
}

.btn--secondary:hover {
  background-color: var(--color-primary);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 1.5rem 2.9rem;
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* BADGES */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  border-radius: 3.2rem;
  color: var(--color-primary);
  background-color: var(--color-secondary-light);
  border: 2px solid var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  direction: ltr;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* Lists */
.list {
  list-style: none;
  font-size: 1.8rem;
}

/* inline lists */
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

/* block lists - tick lists */
/* METHOD 1
.list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/assets/images/Tick-Square.svg) no-repeat;
  padding-right: 3rem;
} */

.list--tick .list__item {
  background: url(/assets/images/Tick-Square.svg) no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* CARDS */
.card {
  max-width: 300px;
  margin: 5rem auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  gap: 5rem;
}

.plan {
  margin-bottom: 5rem;

  box-shadow: 0 0 10px 5px #efefef;
  border-radius: 20px 20px 0 0;
  color: var(--color-white);

  overflow: hidden;
}

.plan__header {
  grid-row: 1 / 2;
  padding: 3.4rem 2.2rem 1rem;
}
.plan__header.plan--primary {
  background-color: var(--color-primary-cards);
}

.plan__header.plan--secondary {
  background-color: var(--color-secondary-dark);
}

.plan-type {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.plan-type:first-of-type {
  font-size: 1.8rem;
}

.plan-price {
  margin: 2.2rem auto;
}

.plan-price .price {
  font-size: 3rem;
  margin-left: 0.5rem;
}

.plan-name {
  font-size: 1.8rem;
  margin-bottom: 2.6rem;
}

.plan__content {
  grid-row: 2 /3;
  background-color: var(--color-secondary-light);
  color: #444242;
  padding: 4.4rem 2.2rem 11rem;
  font-weight: 500;
}

.plan__submit {
  background-color: var(--color-secondary-light);
  grid-row: 3 / 4;
  padding: 3.4rem 3.3rem 5.6rem;
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 100%;
    margin-top: 8rem;
    /* transform: scale(0.9); */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    /* gap: 10rem; */
    transform: scale(0.85);
  }

  .plan {
    transition: all 0.25s;
    transform: scale(0.75);
  }
  .plan:hover {
    transform: scale(0.85);
    cursor: pointer;
  }

  /* .plan:nth-child(2n) {
    transform: translateY(-43px);
  } 
  OR*/
  .plan--popular {
    transform: scale(0.95);
  }
  .plan--popular:hover {
    transform: scale(1);
    cursor: pointer;
  }
}
@media screen and (max-width: 1566px) {
  .card {
    max-width: 100%;
    margin-top: 8rem;
    /* transform: scale(0.9); */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    /* gap: 10rem; */
    transform: scale(0.8);
  }

  .plan {
    transition: all 0.25s;
    transform: scale(1);
  }

  .plan:hover {
    transform: scale(1);
    cursor: pointer;
  }
  .plan--popular {
    transform: scale(1);
  }
  .plan--popular:hover {
    transform: scale(1);
    cursor: pointer;
  }
}

/* Features with different item position  🌟 */
.grid {
  display: grid;
}

.feature {
  gap: 4rem 2rem;
  padding: 2rem 3.5rem;
  margin-bottom: 7rem;
}

.feature__content {
  text-align: justify;
}

.feature__image {
  width: 100%;
  max-width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* order: -1; */
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature:nth-child(even) .feature__content {
    order: -1;
    margin-left: 4rem;
  }
}

/* -------- Contact Us -------- */
.contact-us {
  display: grid;
  text-align: center;
}

.contact-us__map {
  display: none;
}

/* Icons */
.icon {
  width: var(--icon-small);
  height: var(--icon-small);
  padding: 0.2rem;
}
.icon-container {
  width: calc(var(--icon-small) + 20px);
  height: calc(var(--icon-small) + 20px);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0 10px 10px 1px #d6d6d69d;
  border-radius: 50%;
}
.icon--primary {
  fill: #445;
}

/* Contacts */
.contact-us__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5rem;
}

.contact-us__contacts .icon-holder {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem 1rem 1rem;
}
.icon-holder > span {
  margin-right: 1.5rem;
}
.icon-number {
  direction: ltr;
}

/* Social Media */

.contact-us__socials {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

.contact-us__socials .icon-container .icon {
  width: var(--icon-medium);
  height: var(--icon-medium);
}

.contact-us__socials .icon-container {
  width: calc(var(--icon-medium) + 20px);
  height: calc(var(--icon-medium) + 20px);
  margin-right: 3rem;
}

/* Form */
.contact-us__form {
  border: 1px solid #dddddd;
  border-radius: 15px;
  box-shadow: 0px 13px 19px 0px #00000012;
  padding: 5.2rem 4.9rem;
}

.form-wrapper {
  height: 100%;
}

.form-wrapper h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5.2rem;
  text-align: center;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.form-wrapper input {
  padding: 1.9rem 2rem;
  border-radius: 4rem;
}

.form-wrapper input::placeholder {
  text-align: center;
  color: #888;
}

input,
textarea {
  display: block;
  outline: 0;
  border: 0;
  background-color: #f5f5f5;
  font-family: inherit;
  transition: all 0.3s;
}

input:focus,
textarea:focus {
  border: 1px solid var(--color-secondary-dark);
}

input[type="email"] {
  direction: ltr;
}

.form-wrapper textarea {
  resize: none;
  border-radius: 0.7rem;
  padding: 1.2rem 1.5rem;
}

.form-wrapper textarea::placeholder {
  color: #888;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    display: grid;
    grid-template-areas:
      "contacts form"
      "map form"
      "socials form";

    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__contacts {
    grid-area: contacts;
  }
  .contact-us__map {
    display: block;
    grid-area: map;
  }

  .contact-us__map img {
    width: 100%;
    height: auto;
    padding-left: 5rem;
  }

  .contact-us__socials {
    grid-area: socials;
  }

  /* contacts */

  .contact-us__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .icon-holder {
    flex-direction: column;
  }

  .icon-holder__label {
    order: 2;
    margin-top: 1.2rem;
  }

  .icon-holder__label a {
    font-size: 1.4rem;
    font-weight: 500;
  }

  /* Social Media */
  .contact-us__socials {
    justify-content: flex-end;
    margin: 5rem 0 3rem 5rem;
  }

  .contact-us__socials .icon-container .icon {
    width: var(--icon-small);
    height: var(--icon-medium);
  }

  .contact-us__socials .icon-container {
    width: calc(var(--icon-small) + 20px);
    height: calc(var(--icon-small) + 20px);
  }

  .form-wrapper h3 {
    font-size: 2.8rem;
    font-weight: 500;
  }
}

/* -------- FOOTER -------- */

.main-footer {
  color: white;
  background-color: black;
  min-height: 250px;
}

.main-footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item {
  margin-bottom: 2rem;
}

.footer__item a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.3rem;
}

.footer__item.enamad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 10px;
}
.footer__enamad {
  max-width: 86px;
}
.footer__enamad img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
}

/* ------------ Navbar ------------ */
.header {
  background-color: var(--color-navbar);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.4rem 2rem;
}

.nav__links {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  justify-content: center;
  /* 🌟🌟we can not transition the display by default, so we can use different methods, one is to play with height amount.
  it is not a good idea to pla with the height, because it might change later or the items inside the menu might be vairiable 
  so it is better to use max-height - it means we have not touched the main height 
  ✨but becareful to fix these modified options inside the desktop mode!!!!*/
  /* display: none; */

  transition: all 0.3s ease-in-out;
}

.nav.nav__expanded .nav__links {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
}

.nav__item:hover {
  background-color: #eaeaea;
}

.nav__item:first-of-type {
  border-top: 1px solid #ccc;
}

.nav__item > a {
  /* This thing helps the user to click anywhere to access the link, not just the link text specifically 🌟*/
  display: block;
  /* we gave the links inside li because when the users hover over the links, they can interact it with the padding not only on the link text directly  */
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.dlButton {
  display: none;
}

/* ! Hamburger menu  */
.nav__toggler {
  cursor: pointer;
}

.bars {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.nav.nav__expanded .bar-1 {
  transform: rotate(-45deg) translate(-6px, 5px);
  margin: 8px 0;
}

.nav.nav__expanded .bar-2 {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-3 {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 5px 0;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #dedede;
  }
  .nav {
    padding: 0;
    justify-content: space-evenly;
  }
  .dlButton {
    display: block;
  }

  .dlButton:hover {
    transform: scale(0.97);
  }

  .btn--primary.dlButton {
    padding: 1rem 4rem;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .nav__toggler {
    display: none;
  }

  .nav__links {
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    padding: 0;
    position: relative;
  }

  .nav__item a {
    padding: 1.3rem;
    transition: color 0.2s ease-in-out;
  }

  .nav__item a:hover {
    color: var(--color-primary);
  }

  .nav__item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 50%;
    /*  right value of 50% makes it  grow from center , but value of 0 moves it from right to left*/
    background-color: var(--color-primary-cards);
    transition: all 0.2s ease-in-out;
  }

  .nav__item:hover::after {
    width: 100%;
    right: 0;
  }

  .nav__item,
  .nav__item:first-of-type {
    border: none;
  }
  .nav__item:hover {
    /* good method to return back from hover effect */
    background-color: inherit;
  }
}

/* ------------- Hero Header ------------- */
.hero-section {
  width: 100%;
  height: calc(100vh -61px);
  position: relative;
}

.hero-section img {
  width: 100%;
  height: auto;
}

.hero-wrapper {
  position: absolute;
  width: 270px;
  top: 15px;
  right: 100px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 16px;
  border-radius: 20px;
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__container h1,
h2 {
  color: #fff;
}

.hero__container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero__container h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.hero__container .intro-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-btn-passenger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 52px;
  margin: 7px;
  padding: 14px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width: 224px;
  font-size: 1.4rem;
  border: 2px solid #fff;
}

.intro-btn-passenger a {
  display: flex;
  justify-content: space-around;
}

.intro-btn-passenger p {
  color: #fff;
  margin: 0 auto;
}

.intro-btn-passenger.btn-white {
  background-color: #fff;
}

.intro-btn-passenger.btn-white p {
  color: #000;
}

@media screen and (min-width: 768px) {
  .hero-section {
    width: 100%;
    height: 80vh;
    position: relative;
  }

  .hero-wrapper {
    height: 405px;
    width: 528px;
  }

  .hero__container .intro-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero__container h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .hero__container h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 3.5rem;
  }
}

/* ------------- SERVICES TAB -------------*/

.services__tabs {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 1rem 0;
  padding: 5px 0 15px;
  overflow: auto;
  position: relative;
}

.services__tabs img {
  width: 85px;
}

.services__tabs a {
  /* Center the text */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  max-width: 95px;
  cursor: pointer;
}

.services__tabs p {
  display: block;
  margin-top: 1.3rem;
  text-align: center;
  font-size: 1.2rem;
}

.services h2 {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 2rem;
}

.services__tabs .tab {
  opacity: 0.3;
  transition: all 0.3s ease-out;
}

.services__tabs .tab.active {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.services__tabs .tab:hover {
  opacity: 1;
}

.services__tabs .tab::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  bottom: 0;
  right: 40%;
  background-color: var(--color-primary-cards);
  box-shadow: 0 10px 20px 1px var(--color-secondary-dark);
  transition: all 0.3s ease-in-out;
}
.services__tabs .tab:active::after {
  width: 100%;
  right: 0;
  background-color: var(--color-primary);
  box-shadow: 0 5px 20px 1px rgb(4, 22, 72);
}

.services .feature__heading {
  font-size: 1.6rem;
  font-weight: 700;
}
.services .feature__text {
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 3rem;
}
.services .feature__image {
  display: none;
}

.tab__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab__content {
  display: none;
}

.tab__content.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5rem;
  animation: 0.3s ease-in-out;
}

/* Tab Content Animations */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@keyframes scaleOut {
  from {
    opacity: 0;
    transform: scale(1.2) rotate(10deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@media screen and (min-width: 1024px) {
  .services__tabs p {
    margin-top: 1.4rem;
    font-size: 1.6rem;
  }
  .services__tabs img {
    width: 100%;
  }
  .services__tabs a {
    max-width: 100px;
  }
  .services h2 {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 3rem;
  }

  .services .feature {
    gap: 0 10rem;
  }
  .services .feature__text {
    font-size: 1.8rem;
  }
  .services .feature__image {
    display: block;
  }
  .services .feature__heading {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .tab__content {
    display: none;
  }
  .tab__content.active {
    display: flex;
    animation: 0.3s ease-in-out;
  }
  .tab__content.active .feature__text {
    width: 95%;
  }
  .tab__content.active .feature__image {
    width: 450px;
  }
  .tab.active {
    opacity: 1;
  }
}

/* --------------- TRAVELING SECTION ------------- */
.travel {
  border: 2px solid #d8d8d8;
  border-radius: 10px;
}
.travel__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding: 5.5rem 6.3rem;
}

.travel__slides::-webkit-scrollbar {
  display: none;
}

.travel__slide {
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.travel__slide:hover {
  animation: breath 1s ease-in-out infinite alternate;
}


@keyframes breath {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
    transform: scale(1.02);
  }
}

.travel__slide:not(:last-child) {
  margin-left: 2rem;
}

.slide__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3.2rem;
}

.slide__detail {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  transform: translateY(-60px);
  width: 85%;
}

.slide__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.slide__header span {
  font-size: 1.2rem;
  margin-right: 0.7rem;
  color: #7b7b7b;
}
.slide__header .badge {
  font-size: 1.2rem;
  padding: 0.1rem 1.2rem;
  color: #fff;
}
.slide__detail .slide__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
  margin: 1rem 1rem;
}
.slide__detail .slide__icons {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
  color: #cacaca;
  margin-top: 2rem;
  margin: 0 1rem;
}
.fa-edit {
  margin-left: 0.7rem;
}
@media screen and (min-width: 768px) {
  .travell__slide:not(:last-child) {
    margin-left: 4rem;
  }
}
