/* Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
}

/* Root Variables */

:root {
  --color-primary: #ff5722;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333;
  --color-white: #fff;
  --color-primary-cards: #ff7a50;
  --color-links: #374754;

  /* Sizes */
  --icon-small: 24px;
  --icon-medium: 42px;
}

/* INITIALS */
html {
  font-size: 62.5%;
}

body,
.btn {
  color: var(--color-body);
  font-size: 1.4rem;
  font-weight: 700;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.4rem;
  margin-bottom: 2.3rem;
  line-height: 28px;
}
a:link,
a:visited {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-links);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    line-height: 36px;
  }
}

/* BUTTONS */
.btn {
  outline: 0;
  border: 0;
  padding: 1.5rem 2.2rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: background-color 0.15s;
}

.btn--primary:hover {
  background-color: #fd7146;
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
  transition: background-color 0.15s;
}

.btn--secondary:hover {
  background-color: var(--color-primary);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 1.5rem 2.9rem;
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* BADGES */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  border-radius: 3.2rem;
  color: var(--color-primary);
  background-color: var(--color-secondary-light);
  border: 2px solid var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  direction: ltr;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* Lists */
.list {
  list-style: none;
  font-size: 1.8rem;
}

/* inline lists */
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

/* block lists - tick lists */
/* METHOD 1
.list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/assets/images/Tick-Square.svg) no-repeat;
  padding-right: 3rem;
} */

.list--tick .list__item {
  background: url(/assets/images/Tick-Square.svg) no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* CARDS */
.card {
  max-width: 500px;
  margin: 5rem auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  gap: 5rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  padding: 6rem 2.7rem;
}

.plan {
  margin-bottom: 5rem;

  box-shadow: 0 0 10px 5px #efefef;
  border-radius: 20px 20px 0 0;
  color: var(--color-white);

  overflow: hidden;
}

.plan__header {
  grid-row: 1 / 2;
  padding: 3.4rem 2.2rem 1rem;
}
.plan__header.plan--primary {
  background-color: var(--color-primary-cards);
}

.plan__header.plan--secondary {
  background-color: var(--color-secondary-dark);
}

.plan-type {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.plan-type:first-of-type {
  font-size: 1.8rem;
}

.plan-price {
  margin: 2.2rem auto;
}

.plan-price .price {
  font-size: 3rem;
  margin-left: 0.5rem;
}

.plan-name {
  font-size: 1.8rem;
  margin-bottom: 2.6rem;
}

.plan__content {
  grid-row: 2 /3;
  background-color: var(--color-secondary-light);
  color: #444242;
  padding: 4.4rem 2.2rem 11rem;
  font-weight: 500;
}

.plan__submit {
  background-color: var(--color-secondary-light);
  grid-row: 3 / 4;
  padding: 3.4rem 3.3rem 5.6rem;
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 100%;
    margin-top: 8rem;
    /* transform: scale(0.9); */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    gap: 10rem;
  }

  .plan {
    transition: all 0.25s;
  }

  .plan:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  /* .plan:nth-child(2n) {
    transform: translateY(-43px);
  } 
  OR*/
  .plan--popular {
    transform: scale(1.1);
  }
  .plan--popular:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

/* Features with different item position 🌟 */
.grid {
  display: grid;
}

.feature {
  gap: 4rem 2rem;
  padding: 2rem 3.5rem;
  margin-bottom: 7rem;
}

.feature__content {
  text-align: justify;
}

.feature__image {
  width: 100%;
  max-width: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* order: -1; */
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature:nth-child(even) .feature__content {
    order: -1;
    margin-left: 4rem;
  }
}

/* Contact Us */
.contact-us {
  display: grid;
  text-align: center;
}

.contact-us__map {
  display: none;
}

/* Icons */
.icon {
  width: var(--icon-small);
  height: var(--icon-small);
  padding: 0.2rem;
}
.icon-container {
  width: calc(var(--icon-small) + 20px);
  height: calc(var(--icon-small) + 20px);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0 10px 10px 1px #d6d6d69d;
  border-radius: 50%;
}
.icon--primary {
  fill: #445;
}

/* Contacts */
.contact-us__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5rem;
}

.contact-us__contacts .icon-holder {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem 1rem 1rem;
}
.icon-holder > span {
  margin-right: 1.5rem;
}
.icon-number {
  direction: ltr;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    display: grid;
    grid-template-areas:
      "contacts form"
      "map form"
      "socials form";

    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__contacts {
    grid-area: contacts;
  }
  .contact-us__map {
    display: block;
    grid-area: map;
  }
  .contact-us__socials {
    grid-area: socials;
  }

  /* contacts */

  .contact-us__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .icon-holder {
    flex-direction: column;
  }

  .icon-holder__label {
    order: 2;
    margin-top: 1.2rem;
  }

  .icon-holder__label a {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
