<div class="card">
  <div class="plan">
    <div class="plan__header plan--secondary">
      <div class="plan-type">
        <span>عادی</span>
        <span class="badge badge--secondary">10% off</span>
      </div>
      <div class="plan-price">
        <span class="price">290,000</span><span>ماهانه/تومان</span>
      </div>
      <div class="plan-name">
        <p>سرویس ماشین های معمولی</p>
      </div>
    </div>
    <div class="plan__content">
      <ul class="list list--tick">
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
        <li class="list__item">کیفیت معمولی</li>
      </ul>
    </div>
    <div class="plan__submit">
      <button class="btn btn--secondary btn--block">ثبت سفارش</button>
    </div>
  </div>

  <div class="plan plan--popular">
    <div class="plan__header plan--primary">
      <div class="plan-type">
        <span>اقتصادی</span>
        <span class="badge badge--primary">15% off</span>
      </div>
      <div class="plan-price">
        <span class="price">390,000</span><span>ماهانه/تومان</span>
      </div>
      <div class="plan-name">
        <p>سرویس ماشین های کلاسیک</p>
      </div>
    </div>
    <div class="plan__content">
      <ul class="list list--tick">
        <li class="list__item">کیفیت عالی</li>
        <li class="list__item">کم سر و صدا</li>
        <li class="list__item">زمان محدود</li>
        <li class="list__item">سرویس روزانه</li>
      </ul>
    </div>
    <div class="plan__submit">
      <button class="btn btn--primary btn--block">ثبت سفارش</button>
    </div>
  </div>

  <div class="plan">
    <div class="plan__header plan--secondary">
      <div class="plan-type">
        <span>ویژه</span>
        <span class="badge badge--secondary">20% off</span>
      </div>
      <div class="plan-price">
        <span class="price">490,000</span><span>ماهانه/تومان</span>
      </div>
      <div class="plan-name">
        <p>سرویس ماشین های مدل بالا</p>
      </div>
    </div>
    <div class="plan__content">
      <ul class="list list--tick">
        <li class="list__item">کیفیت خیلی خفن</li>
        <li class="list__item">بی سر و صدا</li>
        <li class="list__item">زمان نامحدود</li>
        <li class="list__item">سرویس نامحدود</li>
      </ul>
    </div>
    <div class="plan__submit">
      <button class="btn btn--secondary btn--block">ثبت سفارش</button>
    </div>
  </div>
</div>
