<section class="container block">
  <article class="grid grid--1x2 feature">
    <div class="feature__image">
      <img src="/assets/images/i-mac-1.png" alt="" class="feature__image" />
    </div>
    <div class="feature__content">
      <h2 class="feature_heading">خدمات تپسی برای کسب و کارها</h2>
      <p class="feature__text">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
        از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
        نرم افزار گیرد.
      </p>
      <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__image">
      <img src="/assets/images/macbook.png" alt="" class="feature__image" />
    </div>
    <div class="feature__content">
      <h2 class="feature_heading">خرید کد اعتباری تپسی</h2>
      <p class="feature__text">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
        از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
        نرم افزار گیرد.
      </p>
      <button class="btn btn--primary">خرید کد اعتبار و تخفیف</button>
    </div>
  </article>
</section>
