<section class="hero-section">
  <picture>
    <source
      srcset="/assets/images/banner.webp"
      type="image/webp"
      media="(min-width: 768px)"
    />
    <source
      srcset="/assets/images/banner.webp"
      type="image/webp"
      media="(min-width: 768px)"
    />
    <source
      srcset="/assets/images/banner-mobile.webp"
      type="image/webp"
      media="(max-width: 768px)"
    />
    <source
      srcset="/assets/images/banner.jpg"
      type="image/jpg"
      media="(max-width: 768px)"
    />
    <img src="/assets/images/banner.jpg" alt="banner" />
  </picture>
  <div class="hero-wrapper">
    <div class="hero__container">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      <div class="intro-btns">
        <div class="intro-btn-passenger btn-white">
          <a href="">
            <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
            <p>دانلود اپلیکیشن مسافران</p>
          </a>
        </div>
        <div class="intro-btn-passenger btn-white">
          <a href="#">
            <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
            <p>وب اپلیکیشن مسافران</p>
          </a>
        </div>
        <div class="intro-btn-passenger">
          <a href="#">
            <img src="" alt="" />
            <p>ثبت‌نام راننده خودرو</p>
          </a>
        </div>
        <div class="intro-btn-passenger">
          <a href="#">
            <img src="" alt="" />
            <p>ثبت‌نام راننده موتور</p>
          </a>
        </div>
        <div class="intro-btn-passenger">
          <a href="#">
            <img src="" alt="" />
            <p>دانلود اپلیکیشن رانندگان</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
